.toolbar__container {
  width: 100%;
  height: 150px;
  background-color: aquamarine;
}

.toolbar__itemContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.template__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.template__item > span {
  width: 15px;
  height: 15px;
}
